---
import BaseLayout from "../BaseLayout.astro";
import GoLink from "@cmp/links/GoLink.astro";
import FormattedDate from "@cmp/FormattedDate.astro";
const { notedate } = Astro.props;
---

<BaseLayout pageTitle=`laNote - ${notedate}`>
    <h2>A note from <FormattedDate date={notedate} /></h2>
    <GoLink go="/notes" displayText="see all notes" />
    <blockquote style="scale: 2">
        <slot />
    </blockquote>
</BaseLayout>
