---
import BaseLayout from "../BaseLayout.astro";
import GoLink from "@cmp/links/GoLink.astro";
import fmtDate from "@lib/utils/fmtDate";

const { notedate } = Astro.props;
const fmtdate = fmtDate(notedate);
---

<BaseLayout pageTitle=`laNote - ${fmtdate}`>
    <h2>
        <i class="fa-solid fa-pencil" style="margin-right: 5px;"></i>
        An laNote from {fmtdate}...
    </h2>
    <blockquote style="font-size: 110%;">
        <slot />
    </blockquote>
    <GoLink go="/notes">See all notes</GoLink>
</BaseLayout>
