---
import PostListMini from "@cmp/blog/PostListMini.astro";
import Button from "@cmp/links/Button.astro";
import PageLayout from "@lay/PageLayout.astro";
const pageTitle = "Blog";
import "../../styles/global.css"
---

<PageLayout pageTitle={pageTitle}>
    <p>I write about things sometimes. This is where I put most of it.</p>

    <Button go="/blog/t" label="Show tag list" />

    <hr style="max-width: 33%;" />

    <PostListMini />
</PageLayout>
