---
import PostListMini from "@cmp/blog/PostListMini.astro";
import Button from "../../components/links/Button.astro";
import PageLayout from "../../layouts/PageLayout.astro";

import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");

const pageTitle = "Blog";
---

<PageLayout pageTitle={pageTitle}>
    <p>It's a blog.</p>

    <Button go="/blog/t" label="Show tag list" />

    <hr style="max-width: 33%;">

    <PostListMini />
</PageLayout>

