---
import PageLayout from "@lay/PageLayout.astro";
import CollectionList from "@cmp/lists/CollectionList.astro";
import PinnedPosts from "@cmp/lists/PinnedPosts.astro";
import GoLink from "@cmp/links/GoLink.astro";

const pageTitle = "Blog";
const description =
    "I write about things sometimes. This is where I put most of it.";
---

<PageLayout
    pageTitle={pageTitle}
    description={description}
    icon="fa-solid fa-signature"
>
    <GoLink
        go="/blog/t"
        displayText="Show tag list"
        icon="fa-solid fa-hashtag"
    />
    <GoLink
        go="/meta/subscribe"
        displayText="Subscribe with RSS"
        icon="fa-solid fa-rss"
    />

    <h3>Pinned posts</h3>
    <PinnedPosts collection="blog" />
    <hr />
    <CollectionList collection="blog" />
</PageLayout>
