---
import PageLayout from "../../layouts/PageLayout.astro";
import GoLink from "@cmp/links/GoLink.astro";

const pageTitle = "Contact";
---

<PageLayout pageTitle={pageTitle}>
    <h3>Email</h3>
    Email's 1. anything but dead and 2. the best way to get in touch with me
    <ul>
        <li>
            My personal email is <a href="mailto:la@laker.gay">la@laker.gay</a>
            (<a href="/.well-known/pgp">🔑 PGP key available here</a>)
        </li>
        <li>
            My email for anything resembling professional work:
            <a href="mailto:hello@laker.tech">hello@laker.tech</a>
        </li>
    </ul>
    <h3>Social media</h3>
    I'd rather not, but it's a part of society for at least 15 more minutes
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-brands fa-mastodon"></i>Mastodon: <a
                href="//social.lol/@la">@la@social.lol</a
            >
        </li>
        <li></li>
    </ul>
    <h3>Messaging</h3>
    I don't accept friend requests unless we've interacted a bit so keep that in
    mind pls and thx
    <ul class="fa-ul">
        <li><i class="fa-li fa-brands fa-discord"></i>Discord: @lxjv</li>
    </ul>
    <hr />
    <GoLink go="/contact/keys" displayText="Encryption keys" />
    <GoLink go="/contact/everything" displayText="Every account" />
</PageLayout>
