---
import { getCollection } from "astro:content";
import FormattedDate from "../DateTime.astro";

const { collection } = Astro.props;

const items = await getCollection(collection);
const pinned = items.filter((item: any) => item.data.pinned);
---

<ul class="fa-ul">
    {
        pinned.map((item: any) => (
            <li>
                <>
                    <span class="fa-li">
                        <i class="fa-solid fa-thumbtack" />
                    </span>
                    <a href={`/blog/${item.slug}`}>{item.data.title}</a> — <FormattedDate date={item.data.pubDate} />
                </>
            </li>
        ))
    }
</ul>
