---
import Icon from "@cmp/Icon.astro";
const { go, displayText, icon } = Astro.props;
---

<ul class="fa-ul">
    <li>
        <Icon override={icon} li={true} />
        <a href={go}> {displayText}</a>
    </li>
</ul>
