---
const { go, displayText } = Astro.props;
---

<p>
    <i class="fa-solid fa-arrow-right"></i>
    <a href={go}> {displayText}</a>
</p>

<style>
    p {
        padding: 5px 0;
        margin: 0;
    }
</style>
