---
interface Props {
    platform: string
    username?: string
    displayText?: string
}

const { username, platform, displayText } = Astro.props;
---

<a href={`https://${platform}/${username}`}>
    {displayText || platform + "/" + username}
</a>
