---
import Social from "../links/Social.astro";
import FlavourText from "./partials/FlavourText.astro";
---

<footer style="margin-top: 2em;">
    <div id="2">
        <a href="/meta/others">Webrings</a>
        <Social platform="github.com" username="lxjv" displayText="GitHub" />
        <Social platform="laker.lol" username="" displayText="laker.lol" />
        <Social

            platform="github.com"
            username="lxjv/challenger"
            displayText="View source code"
        />
    </div>
    <FlavourText />
</footer>

<style>
    #2 > a:not(:last-child) {
        margin-right: 1em;
    }
</style>
