---
import Social from "../Social.astro";
import FlavourText from "../FlavourText.astro";
---

<footer style="margin-top: 2em;">
    <div id="1">
        <p>
            Made with <i
                class="fa-solid fa-heart"
                style="color: light-dark(var(--ctp-latte-red), var(--ctp-mocha-red))"
            ></i> in [very] rainy England.
        </p>
        <div id="2">
            <Social
                platform="github.com"
                username="lxjv"
                displayText="GitHub"
            />
            <Social platform="laker.lol" username="" displayText="laker.lol" />
            <Social
                platform="github.com"
                username="lxjv/challenger"
                displayText="View source code"
            />
        </div>
    </div>
    <FlavourText />
</footer>

<style>
    #2 > a:not(:last-child) {
        margin-right: 1em;
    }
</style>
