---
import Navigation from "../Navigation.astro";
import { siteConfig as sc } from "@lib/siteConfig";
---

<header>
    <h1>
        <a href="/">
            {sc.meta.title}
            <i
                class="fa-solid fa-fan fa-sm fa-spin"
                style="--fa-animation-duration: 30s;"></i>
        </a>
    </h1>
    <Navigation />
</header>

<style>
    header {
        margin-bottom: 1em;
    }
    h1 {
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
    }
</style>
