---
import Navigation from "../Navigation.astro";
const { siteTitle } = Astro.props;
---

<header>
    <h1><a href="/">{siteTitle}</a><i class="fa-solid fa-house"></i></h1>
    <Navigation />
</header>

<style>
    header {
        margin-bottom: 1em;
    }
    h1 {
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
    }
</style>
