---
import PageLayout from "@lay/PageLayout.astro";
const pageTitle = "404 - page not found";
---

<PageLayout pageTitle={pageTitle}>
    <p>Houston, we have a problem, there isn't a page here!</p>
    <p>Click my name up top or <a href="/">here</a> to go back home.</p>
</PageLayout>
