---
import PageLayout from "@lay/PageLayout.astro";
const pageTitle = "404 - Page not Found";
---

<PageLayout pageTitle={pageTitle}>
    <p>Houston, we have a problem, there isn't a page here!</p>
    <p>
        If you're sure there used to be a page here, I might have not moved it over to this new version of my website yet.
        I'm sure i'll get to it soon.
    </p>
    <p>Click my name up top or <a href="/">here</a> to go back home.</p>
</PageLayout>
