---
import BaseLayout from "../layouts/BaseLayout.astro";
import Infobox from "@cmp/indieweb/Infobox.astro";
import Greeting from "@cmp/layout/partials/Greeting.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <div style="display: flex;">
        <div>
            <Greeting />
            <p>
                Hi! I'm Laker, an 18 year old musician, college student, writer,
                programmer <br />
                and leather jacket enthusiast.
            </p>

            <p>
                I've been creative my entire life, but started writing to clear
                my head, about 6 years ago.
            </p>

            <p>
                I'm learning a mix of <b>Rust</b> and <b>Typescript</b> right now,
                but I'm probably going to stick with Rust. <br />
                On the web side, I like <b>Astro</b> (it's what builds this site!),
                and <b>Eleventy</b> (what I use for everything else).
            </p>

            <p>
                When I'm not knee-deep in my terminal, I like making music,
                taking photographs <br />
                and reading <strong>Hitch-Hiker's Guide to the Galaxy</strong> for
                the 5th time.
            </p>

            <p>Feel free to walk around and see what's going on.</p>
        </div>
        <Infobox />
    </div>
</BaseLayout>
