---
import Layout from "@lay/PageLayout.astro";
---

<Layout
    pageTitle="Everything else"
    description="All the pages that aren't in the header"
>
    <h3>/me</h3>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-toolbox"></i>
            <a href="/me/uses">/uses</a>, what I use, if you want to know
        </li>
        <li>
            <i class="fa-li fa-solid fa-clipboard"></i>
            <a href="/collections">/collections</a>, for all the things I
            collect!
        </li>
    </ul>
    <h3>/meta</h3>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-code-branch"></i>
            <a href="/meta/changelog">/changelog</a>, updates with this site.
        </li>
        <li>
            <i class="fa-li fa-solid fa-wand-magic-sparkles"></i>
            <a href="/meta/colophon">/colophon</a>, how this site is made.
        </li>
        <li>
            <i class="fa-solid fa-rss fa-li"></i>
            <a href="/meta/subscribe">/subscribe</a>, all of this site's RSS
            feeds.
        </li>
    </ul>
    <h3>Stuff that doesn't exist right now, but eventually will</h3>
    <ul>
        <li>/about</li>
        <li>/now</li>
    </ul>
</Layout>

<style>
    .fa-code-branch {
        color: light-dark(var(--ctp-latte-red), var(--ctp-mocha-red));
    }
    .fa-wand-magic-sparkles {
        color: light-dark(var(--ctp-latte-green), var(--ctp-mocha-green));
    }
</style>
