---
import Layout from "@lay/PageLayout.astro";
---

<Layout
    pageTitle="Everything else"
    description="All the pages that aren't in the header"
>
    <h3>/meta</h3>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-wand-magic-sparkles"></i>
            <a href="/meta/colophon">Colophon</a>, how this site is made.
        </li>
        <li>
            <i class="fa-solid fa-rss fa-li"></i>
            <a href="/meta/subscribe">/subscribe</a>, all of this site's RSS feeds.
        </li>
    </ul>
    <h3>Stuff that doesn't exist right now, but eventually will</h3>
    <ul>
        <li>/about</li>
        <li>/now</li>
    </ul>
</Layout>
