---
import Layout from "@lay/SiteletLayout.astro";
---

<Layout pageTitle="Names & Pronouns">
    <p>
        <a href="https://en.pronouns.page/@laker">pronouns.page</a>
        <a href="https://pronouns.cc/@la">pronouns.cc</a>
    </p>
    <ul>
        <li>
            In English, my name is Laker and I use <b>she/her</b>
            <blockquote style="margin: 10px 0 1em 15px;">
                or Ivy if we're good friends
            </blockquote>
        </li>

        <li>
            In Toki Pona, my name is <b>jan leka</b>
        </li>
    </ul>
</Layout>
