---
import Layout from "@lay/PageLayout.astro";
---

<Layout
    pageTitle="Changelog"
    description="A hopefully updated list of changes to this site."
>
    <ul>
        <li>
            <h3><code>2024-08-13</code></h3>
            <p>Moved this site to Astro, from Eleventy!</p>
        </li>
    </ul>
</Layout>
