---
import Layout from "@lay/PageLayout.astro";
import pkgjson from "package.json";
---

<Layout
    pageTitle="Colophon"
    description="How this is beamed into your home/office/hamster wheel"
    icon="fa-solid fa-wand-magic-sparkles"
>
    <p>
        laker.tech is made with <a href="//astro.build">Astro</a>
        {pkgjson.dependencies.astro}, and hosted using
        <a href="//vercel.com">Vercel</a>.
    </p>
    <p>
        Everything was written by hand, using either Neovim or VSCode. I don't
        use AI.
    </p>
    <h3>Design</h3>
    <p>
        The fonts around the site are all part of the IBM Plex family, served by
        Bunny Fonts. <br />
        The colour-scheme is Catppuccin, either Latte or Mocha depending on whether
        you're in light or dark mode.
    </p>
    <p>The little tree guy you might see around here was drawn by Momo.</p>
    <h3>Code</h3>
    <p>
        Source code is available from <a
            href="https://github.com/lxjv/challenger"
            >lxjv/challenger on GitHub</a
        ><br />
        Don't take my blog posts though. That's a bit rude.
    </p>
</Layout>
