---
import Layout from "@lay/PageLayout.astro"
import Webrings from "@cmp/layout/partials/Webrings.astro"
---

<Layout pageTitle="Other sites" description="Other people and places on the interwebz" icon="fa-solid fa-globe">
    <h3>Webrings</h3>
    <Webrings />
</Layout>