---
import Layout from "@lay/PageLayout.astro";
---

<Layout pageTitle="Uses" description="What's on my desk etc." icon="fa-solid fa-toolbox">
    <h3>Hardware</h3>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-laptop-code"></i>
            Laptop: <b>Macbook Air 15'</b>, silver (with stickers)
        </li>
        <li>
            <i class="fa-li fa-solid fa-pager"></i>
            Phone: <b>iPhone 11</b>, red
        </li>
        <li>
            <i class="fa-li fa-solid fa-stopwatch"></i>
            Watch: <b>Apple Watch SE2</b>
        </li>
    </ul>
    <h3>Software</h3>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-file-code"></i>
            Code Editor: <b>Neovim</b>, with the
            <a href="//lazyvim.org">LazyVim</a> config
        </li>
        <li>
            <i class="fa-li fa-solid fa-note-sticky"></i>
            Notes: <b>Drafts</b>, <b>Obsidian</b> and <b>Notion</b>
        </li>
        <li><i class="fa-li fa-solid fa-globe"></i>Browser: <b>Arc</b></li>
        <li>
            <i class="fa-li fa-solid fa-envelope"></i>
            Email Stack:
            <ul>
                <li>Service: <b>Fastmail</b></li>
                <li>
                    Clients:
                    <b>aerc</b>,
                    <b>Thunderbird</b>,
                    <b>Fastmail apps</b>
                </li>
            </ul>
        </li>
        <li>
            <i class="fa-li fa-solid fa-headphones"></i>
            Music Streaming: <b>Apple Music</b>, <b>Spotify</b>
        </li>
    </ul>
    <h3>Non-tech things</h3>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-book"></i>
            Notebooks: <b>Field Notes</b>
        </li>
    </ul>
</Layout>
