---
const { title } = Astro.props
---

<div>
    {
        () => {
            if (title) {
                return <h3>{title}</h3>
            }
            return null
        }
    }
    <slot />
</div>

<style>
    div {
        margin-top: calc(var(--padding-def) * 1.25);
        padding: var(--padding-def) 2em;
        border: 2px solid var(--accent);
        border-radius: 1em;
        width: fit-content;
    }
    h3 {
        margin: 0;
        margin-bottom: 1em;

    }
</style>
