---

---

<div>
    <slot />
</div>

<style>
    div {
        margin-top: calc(var(--padding-def) * 1.25);
        padding: var(--padding-def) 2em;
        border: 2px solid var(--accent);
        border-radius: 1em 3em;
        width: fit-content;
    }
</style>
