---

---

<nav>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/notes">laNotes</a>
    <a href="/contact">Contact</a>
    <a href="/everything">everything else</a>
</nav>

<style>
    nav > a:not(:last-child) {
        margin-right: 0.24em;
    }
</style>
