<nav>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/notes">laNotes</a>
    <br>
    <a href="/now">Now</a>
    <a href="/contact">Contact</a>
    <a href="/more">Everything else</a>
</nav>

<style>
    nav > a:not(:last-child) {
        margin-right: 0.2em;
    }
</style>
