---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = await getCollection("blog");
const pinnedPosts = posts.filter((post) => post.data.pinned);
---

{
    pinnedPosts.map((item) => (
        <li>
            <FormattedDate date={item.data.pubDate} /> —
            <>
                📌
                <a href={`/blog/${item.slug}`}>{item.data.title}</a>
            </>
            <blockquote style="margin: 10px 0 1em 15px;">
                {item.data.description}
            </blockquote>
        </li>
    ))
}
