---
const { url, title, pubDate, description } = Astro.props;
---

<div>
    {pubDate.toISOString().slice(0, 10) || "what"} - <a href={url}>{title}</a>
    <blockquote>
        {description}
    </blockquote>
</div>

<style>
    div {
        margin-bottom: 1.24em;
    }
</style>