---
import FormattedDate from "@cmp/FormattedDate.astro";
import { getCollection } from "astro:content";
import { getPublishedAndSortedPosts } from "@lib/utils/drafts";
const posts = getPublishedAndSortedPosts(await getCollection("blog"));
---

<ul>
    {
        posts.map((post) => (
            <li>
                <FormattedDate date={post.data.pubDate} /> —
                <>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </>
                <blockquote style="margin: 10px 0 1em 15px;">{post.data.description}</blockquote>
            </li>
        ))
    }
</ul>
