---
import FormattedDate from "@cmp/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
// Sort by date (descending)
const sortedPosts = posts.sort(
    (a: any, b: any) => b.data.pubDate - a.data.pubDate
);
---

<ul>
    {
        sortedPosts.map((post) => (
            <li>
                <FormattedDate date={post.data.pubDate} /> —
                <>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                    <br />
                </>
                {post.data.description}
            </li>
        ))
    }
</ul>
