---
import "../styles/global.css";
import HeadMeta from "@cmp/HeadMeta.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <HeadMeta pageTitle={pageTitle} />
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
