---
import "../styles/global.css";
import HeadMeta from "@cmp/layout/partials/HeadMeta.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Warning from "@cmp/Warning.astro";

const { pageTitle, description } = Astro.props;
---

<html lang="en">
    <HeadMeta pageTitle={pageTitle} description={description} />
    <body>
        <Warning>This website is unmaintained and broken in many places. I'm at <a href="https://laker.lol">laker.lol</a> now.</Warning>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
