<nav>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/notes">laNotes</a>

    <a href="/now">Now</a>
    <a href="/contact">Contact</a>
    <a href="/more" class="icon"><i class="fa-solid fa-bars fa-xl" style="margin-right: 5px;"></i> more</a>
</nav>

<style>
    nav > a:not(:last-child) {
        margin-right: 0.2em;
    }

    a {
        padding: 12px 18px;
        border: 2px solid;
        border-radius: 3em 2em;
        text-decoration: none;
    }
    .icon {
        border: none;
    }
</style>
