<nav>
    <a href="/projects"><i class="fa-solid fa-paperclip"></i> Projects</a>
    <a href="/blog">Blog</a>
    <a href="/notes">laNotes</a>
    <a href="/now">Now</a>
    <a href="/contact">Contact</a>
    <a href="/more"><i class="fa-solid fa-bars"></i> More</a>
</nav>

<style>
    nav > a:not(:last-child) {
        margin-right: 0.2em;
    }

    .fa-solid {
        
        margin-right: 5px;
    }

    a {
        padding: 12px 18px;
        border-radius: 3em 2em;
        text-decoration: none;
    }
</style>
