<nav>
    <a href="/projects"><i class="fa-solid fa-paperclip"></i> Projects</a>
    <a href="/blog"><i class="fa-solid fa-signature"></i>Blog</a>
    <a href="/notes"><i class="fa-solid fa-pencil"></i>laNotes</a>
    <a href="/now"><i class="fa-solid fa-calendar-days"></i>Now</a>
    <a href="/contact"><i class="fa-solid fa-address-card"></i>Contact</a>
    <a href="/more"><i class="fa-solid fa-bars"></i> More</a>
</nav>

<style>
    nav > a:not(:last-child) {
        margin-right: 0.7rem;
    }

    .fa-solid {
        margin-right: 5px;
    }

    a {
        border-radius: 3em 2em;
        text-decoration: none;
    }
</style>
